html{
  border: solid;
  background-color: #E7D4C0;
  border-width: 0.5cm;
}
.header {
  background-color:#658EA9;
  text-align: center;
  border: solid;
}
.menu {
  border: solid;  
  background-color:#658EA9;
  width: 17%;
  margin-top: 0.5cm;
  padding: 0.5rem;
}

.body{
    font-family: sans-serif;
    font-size:110%;
    padding: 1rem;
}
.footer{
    background-color:#658EA9;
    text-align: center;
    border: solid;
    margin-top: 0.5cm;
}
.main{
  display: flex;
}

.heading2{
  text-decoration-line: underline;
}
.information{
  margin-left: 10px;
}
#headshot{
  border: solid;
  width: 7.1cm;
  height: 9.4cm;
  border-radius: 20%;
  margin-top: 4mm;
}