body{
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
  }
  
  header {
    background-color: #6d6b81;
    text-align: center;
  }
  
  footer {
    background-color: #6d6b81;
    text-align: center;
  }
  