html{
    width: 100vw;
    height: 100vh;
    margin:0;
    background-color: #2b2d30 ;    
    font-family: 'Comfortaa',cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
form{
    width: 30vw;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}
label{
    padding-top: 0.5rem;
}
#submit{
    margin-top: 0.5rem;
}
h1{
    text-align: center;
}