html{
    max-width: 98vw;
}

header{
    border: solid red;
    height: 10em;
    display: flex;
    justify-content: space-around;
}
footer{
    border: solid red;
    height: 10em;
}
main{
    border: solid black;
    min-height:80vh;
    display:flex;
}

aside{
border: solid blue;
width: 20vw;
position: sticky;
top: 0;
line-height: 150%;
position: 1; 
height: 4cm;

}
article{
border: solid purple;
width: 80vw;
}
@media only screen and (max-width:720px){
    main{
        display: flexbox;
        flex-direction: column;
    }
    article{
        width: 99%;
        height: 50vh;
    }
    aside{
        display: flex;
        justify-content: space-around;
        width: 99%;
        height: auto;
    }
}
@media only screen and (max-width:380px){
    html{
        font-size: small;
    }
}