html{
    width: 98vw;
    height: 98vh;
    font-family: 'Comfortaa',cursive;
}
body{
    width: 100vw;
}

header{
    border: solid red;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
footer{
    border: solid red;
    height: 10vh;
}
main{
    border: solid black;
    min-height:80vh;
}

aside{
border: solid blue;
/*position: sticky;
top: 0;
line-height: 150%;
position: 1; 
height: 50vh;*/

}
article{
border: solid purple;
}
