html{
    font-family: 'Comfortaa',cursive;
}


header{
    border: solid red;
}
footer{
    border: solid red;
    height: 10vh;
    margin: 0;
}
main{
    border: solid black;
    min-height:80vh;
}

aside{
border: solid blue;
position: sticky;
top: 0;
line-height: 150%;
position: 1; 
height: 50vh;

}
article{
border: solid purple;
}
