html{
    background-color: #2b2d30 ;
}
.gridContainer{
    margin: 15px 0 0 0;
    display: grid;
    background-color: saddlebrown;
    grid-gap:10px;
    padding: 10px;
    grid-template-areas: 
    "header header header"
    "nav main main"
    "footer footer footer";
    grid-template-rows: 60px auto 60px;
    grid-template-columns:20% auto 20%;
    font-family: 'Comfortaa',cursive;
}
.header,.nav,.main,.footer{
    background-color: bisque;
    font-size: 30px;
    text-align: center;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
@media  screen and (max-width:720px){
.gridContainer{
    margin: 15px 0 0 0;
    display: grid;
    background-color: saddlebrown;
    grid-gap:10px;
    padding: 10px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns:auto;
}
.nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}  
}


