html{
    background-color: #2b2d30 ;
    width: 100vw;
    font-size: small;
}
@media  screen and (max-width:900px){
    html{
        font-size: x-small;
    }
}

.gridContainer{
    margin: 15px 0 0 0;
    display: grid;
    grid-gap:10px;
    padding: 10px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-rows: 60px auto 60px;
    grid-template-columns:20% auto 20%;
    font-family: 'Comfortaa', cursive;
    /* color: aliceblue;
    background-color: #2b2d30 ; */
    
}  
.header,.main,.footer{
    text-align: center;
    border: solid aliceblue;
}
.header{
    grid-area: header;
}


.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
@media  screen and (max-width:1000px){
.gridContainer{
    margin: 15px 0 0 0;
    display: grid;
    grid-gap:10px;
    padding: 10px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
    grid-template-columns:auto auto auto;

    width: 100vw;    
}
.nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}
}
 @media screen and (min-width:1000px){
    .gridContainer{
        margin: 15px 0 0 0;
        display: grid;
        grid-gap:10px;
        padding: 10px;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
        grid-template-rows: auto auto auto;
        grid-template-columns:auto auto auto;
    
        width: 100vw;    
    }
    .nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav{
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
    }
    
}

#performance{
    border-radius: 50%;
    width: 35%;
    border: solid black;
}





.socialIcons{
    display: flex;
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
}
footer a:visited{
    color:white
}
footer a:focus{
    color:white
  }
footer a{
    color: white;
  }
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #006ebd;
    color: white;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
}
