html{
    background-color: #2b2d30 ;
    font-size: small;
}
@media  screen and (max-width:900px){
    html{
        font-size: x-small;
    }
}

.gridContainer{
    display: grid;
    grid-gap:10px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: auto;
    grid-template-columns:auto;
    font-family: 'Comfortaa', cursive;
     color: aliceblue;
    background-color: #2b2d30 ; 
    
}  
.header,.main,.footer{
    text-align: center;
    border: solid aliceblue;
}
.header{
    grid-area: header;
}
#performance{
    border-radius: 50%;
    width: 35%;
    border: solid black;
}


.main{
    grid-area: main;
}
.nav{
    grid-area: nav;
    flex-direction: column;
}
.container{
    text-align: left;
}

.footer{
    grid-area: footer;
}











.socialIcons{
    display: flex;
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
}
footer a:visited{
    color:white
}
footer a:focus{
    color:white
  }
footer a{
    color: white;
  }
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #006ebd;
    color: white;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
}
